/* ====================default theme ----------------------- 
fonts:raleway &open sans -----------------------
colors: 
    moon yellow:#f4c613 
    grey:#212226 
    white smoke:#f4f4f4 
    white:#fff 
    black:#000==========================*/

/* Generic CSS for Html, body */
html,
body {
    height: 100%;
   
}

body {
    color: #212226
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}


/* ====================
 preloader
========================== */
#preloader {
    background-color: #fff;
    position: fixed;
    /*fixed background */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    /* specifies stack order */

}

#status {
    background-image: url("../img/preloader.gif");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-top: -35px;
    margin-left: -35px;

}

.btn-general {}

.btn-home {}

/* CSS for home */

#home {
    background: none;
    height: 100%;
    overflow: hidden;


}



/* #home-heading-2 {
    color: #fff;
    font: 65px;
    font-weight: 250;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
} */





#home-bg-video {
    position:fixed; 
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ; 

    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1 ;
    background: url("../video/solo.jpg") no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba (0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

}

#home-content {
    width: 100%;
    height: 100%;
    display: table;

}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}
#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}
#home-heading h1 span {
    color: #f4c613;
    font-weight: 500;
}
#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8px 0 30px 0;
}
/* CSS for Buttons */


.btn-general {
    font-family: "Raleway", sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    transition: all .5s;

}


.btn-home {
    color: #fff;
    border: 1px Solid #f4c613;
}

/* arrow ma hover focus vayo btn ma vayena */
.btn-home:focus,
.btn-home:hover {
    color: #fff;
    background-color: #f4c613;
    border: 1px solid #f4c613;


}

/* CSS for Arrow down */

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    text-align: center;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}

/* content boxes -1 */

.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

/* Vertical/Horizontal heading */

.vertical-heading h5 {
    color: #f4c613;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 5px;
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 50px;
    left: -45px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;


}

.vertical-heading h2,
.horizontal-heading h2 {
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}

.horizontal-heading {
    margin-bottom: 80px;
}

.horizontal-heading h5 {
    font-size: 16px;
    color: #f4c613;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h2 {
    margin: 0;
}

/* about section -1 */

#about-right p:first-child {
    margin-bottom: 60px;
}

#about-bottom img {
    margin: 0 auto;
}

#about-bottom {
    margin-top: 60px;
}

/* about section -2 */
#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #fff;
    padding: 80px 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    /* 0 top and bottom value, auto left and ride value. it also always centers */
    border: none;
}

.about-item p {
    margin-top: 30px;
}

/* hover state*/
.about-item:hover {
    background-color: #f4c613;

}

.about-item:hover i,
.about-item:hover h3,

.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-10px);
}

/*smooth transition*/
.about-item,
.about-item i,
.about-item hr {
    transition: all 400ms ease-in-out;
}

/*-----team-----*/
#team-left .vertical-heading {
    min-height: 160px;
}

.team-member {
    margin: 8px;
    position: relative;

}

.team-member-overlay {
    background-color: rgba(33, 34, 38, .9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

/*      STATEMENT               */
#statement {
    background: url("../img/statement .jpg") no-repeat fixed center;
    background-size: cover;
}

#statement .content-box-lg {
    background: rgba(0, 0, 0, 0.5);

}

#tech-statement h3 {
    color: white;
    font-size: 28px;
    line-height: 45px;
}

#tech-statement p {
    color: #f4c613;
    font-size: 14px;
    margin-top: 8px;
    font-family: "Raleway", sans-serif;
}

/*      Services 01               */
.col-md-7 {

    overflow: auto;
    background-size: cover;


}

.col-md-7 img {

    width: 100%;
    height: 100%;

}

.service {
    margin: 35px 0;
    /* top,bottom=35 left,right=0 */
}

.service .icon {
    font-size: 32px;
    margin: 0;
    transition: all 400ms linear;
}

.service:hover .icon {
    color: #f4c613;
    transform: translateX(-20px);
}

.service h5 {
    font-size: 13px;
    text-transform: uppercase;
    color: #f4c613;
    margin-bottom: 0 0 6px 0;

}

.service:hover h5 {
    color: #212226;
}

.service h4 {
    font-size: 25px;
    margin: 0 0 8px 0;
}

.service p {
    line-height: normal;
}

#pricing .col-md-12 {
    margin-top: 42px;
}

/*---------------------
pricing
----------------------------*/
